@use '../abstracts';
@use 'sass:map';

:root {
  // colors
  --brand-color-primary: hsl(0deg 0% 27%);
  --brand-color-accent: hsl(348deg 78% 40%);
  --neutral-color-100: hsl(0deg 0% 100%);
  --neutral-color-0: hsl(0deg 0% 0%);
  
  // font-sizes
  --font-size-xxs: #{abstracts.to-rem(12px)};
  --font-size-xs: #{abstracts.to-rem(14px)};
  --font-size-s: #{abstracts.to-rem(16px)};
  --font-size-xl: #{abstracts.to-rem(40px)};
  --font-fluid-size-xs: #{abstracts.fluid-font-size(12px, 14px, small, large)};
  --font-fluid-size-s: #{abstracts.fluid-font-size(14px, 18px, small, large)};
  --font-fluid-size-m: #{abstracts.fluid-font-size(16px, 18px, small, large)};
  --font-fluid-size-display-m: #{abstracts.fluid-font-size(16px, 32px, small, large)};
  --font-fluid-size-l: #{abstracts.fluid-font-size(20px, 24px, small, large)};
  --font-fluid-size-display-l: #{abstracts.fluid-font-size(22px, 40px, small, large)};
  --font-fluid-size-display-xl: #{abstracts.fluid-font-size(28px, 56px, small, large)};

  // dimensions
  --indent-section-inline-s: 5px;
  --indent-section-inline-m: 70px;
  --indent-section-block-m: 50px;
  --indent-section-block-l: 100px;

  // shadows
  --shadow-common: drop-shadow(0 0 18px color-mix(in srgb, var(--neutral-color-0) 6%, transparent));

  // transitions
  --transition-hover: 0.3s;
  --transition-common: 0.3s;

  // layout
  --layout-padding-inline: 15px;
  --layout-content-min-width: 290px;
  --layout-content-max-width: 1250px;
  --layout-breakout-max-width: 200px;
  --breakout-max-width: calc(var(--layout-content-max-width) + var(--layout-breakout-max-width));
  --responsive-inline-width: minmax(var(--layout-padding-inline), 1fr);
  --responsive-content-width: max(var(--layout-content-min-width), min(var(--layout-content-max-width), calc(100% - var(--layout-padding-inline) * 2)));
  --responsive-breakout-width: minmax(0, calc((var(--breakout-max-width) - var(--layout-content-max-width)) / 2));
  --layout-breakpoint-small: #{map.get(abstracts.$breakpoints, 'small')};
  --layout-breakpoint-large: #{map.get(abstracts.$breakpoints, 'large')};
  }
